$jet-black: rgb(96,89,100);
$rose: rgb(216,106,125);
$rose-translucent: rgba(216,106,125,0.8);
$tan: rgb(224,227,202);
$ankit-blue: rgb(59,152,251);
$emphasis-link-blue: rgb(54,195,224);
$green: #00ca74;
