@import "variables";
$include-html-global-classes: false;
@import "foundation/components/global";
@import "foundation/functions";

.main-jumbotron-image-wrapper {
  background-image: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_528c8f581f45e_1.JPG);
  background-size: cover;
}

.main-jumbotron {
  background-color: rgba(216,106,125,0.8);
  padding-top: 150px;
  padding-bottom: 200px;
  color: #fff;

  h1 {
    color: #fff;
    font-size: rem-calc(72);
  }

  p {
    font-size: rem-calc(36);
  }
}
