<div class="main-jumbotron-image-wrapper">
  <div class="main-jumbotron">
    <div class="row">
      <h1>Introducing Scribe</h1>
      <p>Turn any picture into a fully-functional website.</p>
    </div>
  </div>
</div>
<div class="step step-1">
  <div class="row">
    <h1>1. Take Picture</h1>
    <img src="images/iphone.png" alt="iPhone" class="phone" />
  </div>
</div>

<div class="step step-2">
  <div class="row">
    <h1>2. Upload</h1>
    <img src="images/iphone.png" alt="iPhone" class="phone" />
  </div>
</div>

<div class="step step-3">
  <div class="row">
    <h1>3. View Site</h1>
    <div class="url">
      <a class="grow" href="https://yourapp.scribe.com">
        https://yourapp.scribe.com
      </a>
    </div>
  </div>
</div>
